#products-page .category-button {
  flex: 1;
  font-size: 16px;
  border-radius: 6px;
}
#products-page .category-button:hover {
  background-color: #0d6efd;
}

#products-page .category-button-text-wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#products-page .category-button-text {
  width: 100%;
}

#products-page .category-dropdown-button {
  /* flex: 1;
  height: 100%; */
  width: 100%;
}

#products-page .list-group {
  font-size: 12px;
  width: 240px;
}

#products-page .vendor-item {
  cursor: pointer;
}

#products-page .selected-vendor {
  background-color: #EDEBEB;
}

#products-page .product-image {
  max-height: 250px;
}

#products-page .carts-product-detail-image {
  border: 1px solid red;
}
