.nav-link {
    color: black;
    text-decoration: none;
    padding: 2px 5px;
  }
  
  .nav-link:hover {
    background-color: white;
  }
  
  .nav-link.active {
    background-color: #ff2121;
  }
  
  nav.sticky {
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Ganti dengan warna latar belakang yang diinginkan */
    z-index: 999;
  }
  