.nav-pills {
    background-color: #fff;
    font-size: smaller;
    top: 0;
    z-index: 999;
    position: sticky;
    display: flex;
    justify-content: center;
    gap: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Perbarui efek box-shadow */
  }
  
  .nav-pills .nav-link {
    color: black;
  }
  
  .nav-pills .nav-link.active {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Efek bayangan pada konten halaman */
  .content {
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Perbarui efek box-shadow */
  }
  