/* orderpages.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.order-list {
  margin-bottom: 30px;
}

.order-item {
  margin-bottom: 20px;
}

.order-items {
  margin-top: 10px;
}

.product-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-left: 10px;
}

.checkbox-style {
  transform: scale(1.5);
}

.checkout-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .container {
    padding: 10px;
  }
  
  .product-image {
    width: 60px;
    height: 60px;
  }
  
  .checkbox-style {
    transform: scale(1.2);
  }
}
  
  

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.order-items-table,
.payment-table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.order-items-table th,
.order-items-table td,
.payment-table th,
.payment-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-items-table th,
.payment-table th {
  background-color: #f2f2f2;
}

.order-items-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

